<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="client">
      <ion-icon name="people"></ion-icon>
      <ion-label>Client</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="list-circle-outline"></ion-icon>
      <ion-label>Report </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
