<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="today">
        Today
      </ion-segment-button>
      <ion-segment-button value="all">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="loadAssignment($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'today'">
      <ion-item-group *ngFor="let assignment of todayassignments" class="spaceassignment" (click)="onTouchOfSchedule(assignment)">
        <ion-item-divider sticky>
          <ion-label>
            {{assignment?.fromdate|  date:'mediumDate'}} to {{assignment?.todate|  date:'mediumDate'}}
          </ion-label>
          <ion-button slot="end" size="small" *ngIf="assignment.status=='active'">{{assignment.status|uppercase }}</ion-button>
          <ion-button slot="end" size="small" color="warning" *ngIf="assignment.status=='inprogress'">{{assignment.status|uppercase }}</ion-button>
          <ion-button slot="end" size="small" color="danger" *ngIf="assignment.status=='cancelled'">{{assignment.status|uppercase }}</ion-button>
          <ion-button slot="end" size="small" color="success" *ngIf="assignment.status=='completed'">{{assignment.status|uppercase }}</ion-button>
        </ion-item-divider>

        <ion-item-sliding>
          <ion-item >
            <ion-label>
              <h3>{{assignment?.client?.name}}</h3>
              <p>
                {{assignment?.client?.address}}
              </p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
    <ion-list *ngSwitchCase="'all'">
      <ion-item-group *ngFor="let assignment of assignments" class="spaceassignment" (click)="onTouchOfSchedule(assignment)"> 
        <ion-item-divider sticky>
          <ion-label>
            {{assignment?.fromdate|  date:'mediumDate'}} to {{assignment?.todate|  date:'mediumDate'}}
          </ion-label>
          <ion-button slot="end" size="small" *ngIf="assignment.status=='active'">{{assignment.status|uppercase }}</ion-button>
          <ion-button slot="end" size="small" color="warning" *ngIf="assignment.status=='inprogress'">{{assignment.status|uppercase }}</ion-button>
          <ion-button slot="end" size="small" color="danger" *ngIf="assignment.status=='cancelled'">{{assignment.status|uppercase }}</ion-button>
          <ion-button slot="end" size="small" color="success" *ngIf="assignment.status=='completed'">{{assignment.status|uppercase }}</ion-button>
        </ion-item-divider>

        <ion-item-sliding>
          <ion-item >
            <ion-label>
              <h3>{{assignment?.client?.name}}</h3>
              <p>
                {{assignment?.client?.address}}
              </p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </div>
</ion-content>