<ion-header>
  <ion-toolbar>
    <ion-title>Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadAttendance($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isdisplay">
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label color="primary">
          From Date
        </ion-label>
      </ion-item-divider>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Select Date</ion-label>
          <ion-datetime [(ngModel)]="_fromdate"></ion-datetime>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label color="primary">
          Till Date
        </ion-label>
      </ion-item-divider>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Select Date</ion-label>
          <ion-datetime [(ngModel)]="_todate"></ion-datetime>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
    <ion-item-group>

      <ion-item-sliding>
        <ion-row class="ion-text-center">
          <ion-col>
            Date
          </ion-col>
          <ion-col>
            In and Out Time
          </ion-col>
          <ion-col>
            Working Hours
          </ion-col>
        </ion-row>
        <ion-row class="ion-text-center" *ngFor="let day of all_days">
          <ion-col>
            {{day.date | date:"mediumDate"}}
          </ion-col>
          <ion-col>
            {{day.msg}}
          </ion-col>
          <ion-col>
            {{day.dff}}
          </ion-col>
        </ion-row>
      </ion-item-sliding>
    </ion-item-group>
  </div>
</ion-content>