<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hello {{title | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label color="primary">
        You have to react
      </ion-label>
    </ion-item-divider>
  </ion-item-group>
  <div #mapCanvas class="map-canvas"></div>
  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label color="primary">
        Address
      </ion-label>
    </ion-item-divider>

    <ion-item-sliding>
      <ion-row>
        <ion-col>
          <p>
            {{assignment?.client?.address}}
          </p>
        </ion-col>

      </ion-row>
    </ion-item-sliding>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label color="primary">
        Projected In Time:
      </ion-label>
      <b slot="end" style="    margin-right: 12px;">{{currentdate | date:'medium'}}</b>
    </ion-item-divider>

    <ion-item-sliding *ngIf="!assignment?.attendanceid">
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="onTouchOfAttendance('present')">Mark Attendance</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" (click)="onTouchOfAttendance('leave')">Ask For Leave</ion-button>
        </ion-col>
      </ion-row>

    </ion-item-sliding>
    <ion-item-sliding *ngIf="assignment?.attendanceid">
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="onTouchOfAttendance('signout')">Mark Signout</ion-button>
        </ion-col>
      </ion-row>
    </ion-item-sliding>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label color="primary">
        Attendance in this month:
      </ion-label>
    </ion-item-divider>

    <ion-item-sliding>
      <ion-row class="ion-text-center">
        <ion-col>
          Present
        </ion-col>
        <ion-col>
          Absent
        </ion-col>
        <ion-col>
          Absent
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center">
        <ion-col>
          11
        </ion-col>
        <ion-col>
          2
        </ion-col>
        <ion-col>
          3
        </ion-col>
      </ion-row>
    </ion-item-sliding>
  </ion-item-group>
</ion-content>