<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/appicon.png" alt="Ionic logo">
  </div>
  <form [formGroup]="login" (ngSubmit)="onLoginSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Email</ion-label>
        <ion-input formControlName="email" type="text" spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input  type="password" formControlName="password" required>
        </ion-input>
      </ion-item>

    </ion-list>
    <ion-row>
      <ion-label text-center color="danger" *ngIf="errormsg">{{errormsg}}</ion-label>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>