.shake-move {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    .toast-message{
        white-space: pre;
    }
  }
  
  .impresent-success-toast {
    .toast-wrapper {
      background-color:#080b52;
      border-radius: 5px;
    }
  
    .toast-container {
      -webkit-box-shadow: 0px 0px 18px 3px rgb(218, 215, 212);
      -moz-box-shadow: 0px 0px 18px 3px rgb(218, 215, 212);
      box-shadow: 0px 0px 18px 3px rgb(218, 215, 212);
      border-radius: 5px;
      text-align: center;
    }
  
    .toast-message {
      color: white;
      text-align: center;
    }
  
    .toast-button {
      color: rgb(0, 95, 111);
      background-color: white;
      border-radius: 5px;
    }
  }