<ion-header>
  <ion-toolbar>
    <ion-title>Add Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isdisplay">
    <ion-row>
      <div id="map_canvas"></div>
    </ion-row>
    <br>
    <br>
    <br>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" color="outstay-2" [(ngModel)]="name.value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Address</ion-label>
      <ion-textarea rows="6" [(ngModel)]="address.value" name="note" autocomplete="on" autocorrect="on"
        color="outstay-2">
      </ion-textarea>
    </ion-item>
  </ion-grid>
  <ion-grid>
    <ion-button expand="full" fill="outline" (click)="submitAndNext()">Save</ion-button>
  </ion-grid>

</ion-content>