<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="viewtype=='leave'">Ask for leave</ion-title>
    <ion-title *ngIf="viewtype=='present' || viewtype=='signout'">Mark Attendanc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="viewtype=='present' && isdisplay">
  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label color="primary">
        Address
      </ion-label>
    </ion-item-divider>

    <ion-item-sliding>
      <ion-row>
        <ion-col>
          <p>
            {{assignment?.client?.address}}
          </p>
        </ion-col>

      </ion-row>
    </ion-item-sliding>
  </ion-item-group>
  <ion-row>
    <ion-col style="height: 336px;
    text-align: center;
    position: relative;
    border: 1px solid;">
      <ion-icon name="camera-outline" style="    position: relative;
      font-size: 70px;
      top: calc(40% - 1px);"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label color="primary">
        In Time:
      </ion-label>
      <b slot="end" style="    margin-right: 12px;">{{currentdate | date:'medium'}}</b>
    </ion-item-divider>
    <ion-item-divider sticky>
      <ion-label color="primary">
        Projected In Time:
      </ion-label>
      <b slot="end" style="    margin-right: 12px;">{{  assignment.todate | date:'medium'}}</b>
    </ion-item-divider>

    <ion-item-sliding>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="markAttendance()">Mark Attendance</ion-button>
        </ion-col>
      </ion-row>

    </ion-item-sliding>
  </ion-item-group>
  </div>

  <div *ngIf="viewtype=='signout' && isdisplay">
  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label color="primary">
        Address
      </ion-label>
    </ion-item-divider>

    <ion-item-sliding>
      <ion-row>
        <ion-col>
          <p>
            {{assignment?.client?.address}}
          </p>
        </ion-col>

      </ion-row>
    </ion-item-sliding>
  </ion-item-group>
  <ion-row>
    <ion-col style="height: 336px;
    text-align: center;
    position: relative;
    border: 1px solid;">
      <ion-icon name="camera-outline" style="    position: relative;
      font-size: 70px;
      top: calc(40% - 1px);"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-item-group>
    <ion-item-divider sticky>
      <ion-label color="primary">
        In Time:
      </ion-label>
      <b slot="end" style="margin-right: 12px;">{{  _intime | date:'medium'}}</b>
    </ion-item-divider>
    <ion-item-divider sticky>
      <ion-label color="primary">
        Out Time:
      </ion-label>
      <b slot="end" style="margin-right: 12px;">{{  currentdate | date:'medium'}}</b>
    </ion-item-divider>

    <ion-item-sliding>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="markAttendance()">Mark sign out</ion-button>
        </ion-col>
      </ion-row>

    </ion-item-sliding>
  </ion-item-group>
  </div>
  <div *ngIf="viewtype=='leave' && isdisplay">
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label color="primary">
         From Date
        </ion-label>
      </ion-item-divider>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Select Date</ion-label>
          <ion-datetime [min]="_fromdate" [max]="_todate" [(ngModel)]="fromdate.value" ></ion-datetime>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
   
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label color="primary">
         Till Date
        </ion-label>
      </ion-item-divider>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Select Date</ion-label>
          <ion-datetime [min]="_fromdate" [max]="_todate" [(ngModel)]="todate.value"></ion-datetime>
        </ion-item>
      </ion-item-sliding>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label color="primary">
          Reason:
        </ion-label>
      </ion-item-divider>
      <ion-item-sliding>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-textarea rows="6" [(ngModel)]="reason.value" placeholder="Enter the reason for your leave"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="askForLeave()">Ask for leave</ion-button>
          </ion-col>
        </ion-row>
  
      </ion-item-sliding>
    </ion-item-group>
  </div>
</ion-content>